#modal-filemanager {
    z-index: 999999;
}

#modal-filemanager .modal-header h4 {
    margin: 0;
}

#modal-filemanager .modal-dialog {
    width: 1000px
}

#modal-filemanager iframe {
    border: none;
    width: 100%;
    min-height: 530px;
}

.file-manager-input {
}

.file-manager-input .file-preview {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    padding: 4px;
    background: #FFF;
    margin-bottom: 20px;
}

.file-manager-input .file-preview .file-preview-frame {
    max-width: 160px;
    max-height: 200px;
    height: auto;
    line-height: 1.42857;
    margin: 8px;
    padding: 6px;
    float: left;
    text-align: center;
}

.file-manager-input .file-preview .file-preview-frame .file-preview-content {
    width: 128px;
    height: 128px;
}

.file-manager-input .file-preview .file-preview-frame .file-preview-content img {
    vertical-align: middle;
}

.file-manager-input .file-preview .file-preview-frame .file-preview-meta {
    display: block;
    text-align: center;
    padding-top: 4px;
    font-size: 11px;
    color: #777;
    margin-bottom: 15px;
    overflow-x: auto;
}