/*CSS for module*/
#module-filemanager {
    padding-left: 0;
    padding-right: 0;
}

#module-filemanager > .row {
    margin: 0;
}

#module-filemanager.tinymce,
#module-filemanager.ckeditor {
    padding: 15px;
}

/*overview*/
/*#module-filemanager > .row .col-overview{ padding-left: 0; padding-right: 0; border-right: 1px solid #ddd; height: 100%; overflow: auto; }
#module-filemanager > .row .col-overview .item-overview{ max-height: 500px; overflow: auto; }
#module-filemanager > .row .col-overview .item-overview .item{ position: relative; overflow: hidden; width: 192px; height: 192px; cursor: pointer; }
#module-filemanager > .row .col-overview .item-overview .item.selected{ background: #00ac24; }
#module-filemanager > .row .col-overview .item-overview .item .thumbnail{ margin-bottom: 0; }
#module-filemanager > .row .col-overview .item-overview .item .thumbnail img{ max-height: 118px; background: #dadada; }
#module-filemanager > .row .col-overview .item-overview .item .thumbnail iframe{ max-height: 118px; background: #dadada; }
#module-filemanager > .row .col-overview .item-overview .item .thumbnail .filename{ background-color: rgba(255, 255, 255, 0.9); position: absolute; bottom: 4px; left: 4px; right: 4px; max-height: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 0 10px; }*/
/*edit column*/
#module-filemanager > .row .col-image-editor {
    padding-left: 0;
    display: none;
}

/*cropper*/
#module-filemanager > .row .col-image-editor .image-cropper .image-wrapper {
    max-height: 460px;
}

#module-filemanager > .row .col-image-editor .image-cropper .image-wrapper img#image-cropper {
    max-width: 100%;
}

/*options*/
#module-filemanager > .row .col-options {
    padding-right: 0;
    margin-top: 8px;
}

/*File upload*/
#module-filemanager > .row .col-options .file-input .form-control {
    display: none;
}

#module-filemanager > .row .col-options .form-group .file-input .input-group,
#module-filemanager > .row .col-options .form-group .file-input .input-group .input-group-btn {
    float: left;
}

.pick-file-item {
    width: 16%;
}

#module-filemanager > .row .col-options .form-group .btn-add-flyleaf {
    float: left;
}

/*details*/
#module-filemanager > .row .col-options .image-info {
    margin-top: 10px;
}

#module-filemanager > .row .col-options .image-info .thumbnail {
    margin-bottom: 10px;
}

#module-filemanager > .row .col-options .image-info .thumbnail img {
    max-width: 100%;
    background: #dadada;
}

#module-filemanager > .row .col-options .image-info .edit-buttons {
    margin-bottom: 10px;
}

#module-filemanager > .row .col-options .image-info .details {
}

#module-filemanager > .row .col-options .image-info .details .fileName {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#module-filemanager > .row .col-options .image-info .pick-image-item {
    margin-top: 10px;
}

#module-filemanager a.delete-image-item {
    margin-top: 5px;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}