.card {
  border-radius: 0;
}
.card .btn{
  height: auto;
}
.card .img-rounded{
  border-radius: 50%;
}
.comments .help-block{
  color:red;
}
.comments .media-body{
  margin-top: 30px;
}
#comments-content{
  resize: none;
  margin-bottom: 30px;
}
#media .btn-primary{
  margin-bottom: 30px !important;
}