td a.btn{
    padding: 0 10px;
}
.kv-detail-container {
    background-color: #fff;
}
.field-tree-icon_type, .field-tree-icon{
    display: none;
}
.query-builder .rule-value-container label {
    float: left;
}

.no-space {
    margin: 0 !important;
    padding: 0 !important
}

.no-margin {
    margin: 0
}
.card-body table td .btn{
    margin-right: 4px;
}

.margin-bottom-5 {
    margin-bottom: 5px
}

.margin-bottom-10 {
    margin-bottom: 10px !important
}

.margin-top-10 {
    margin-top: 10px !important
}

.margin-top-15 {
    margin-top: 15px !important
}

.margin-bottom-15 {
    margin-bottom: 15px !important
}

.margin-bottom-20 {
    margin-bottom: 20px !important
}

.margin-top-20 {
    margin-top: 20px !important
}

.margin-top-30 {
    margin-top: 30px !important
}

.margin-top-40 {
    margin-top: 40px !important
}

.margin-bottom-25 {
    margin-bottom: 25px !important
}

.margin-bottom-30 {
    margin-bottom: 30px !important
}

.margin-bottom-40 {
    margin-bottom: 40px !important
}
.margin-right-5 {
    margin-right: 5px !important
}
.margin-right-10 {
    margin-right: 10px !important
}
.help-block-error{
    color: red;
}
.rules-group-container{
    width: 100%;
}
.sidebar .nav-dropdown.open .nav-link.active {
    color: #353434;
}
.sidebar .nav-link.active {
    background: #e4e5e6;
    color: #353434;
}
